<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div>
        <h3 class="cont-title">酒店信息</h3>
        <input type="hidden" ng-model="m.HotelSupplierSourceId" disabled />
        <input type="hidden" ng-model="m.HotelSupplierSourceName" disabled />
        <input type="hidden" ng-model="m.HotelRoomRuleName" disabled />
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>酒店名称</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelName" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>酒店ID</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelId" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>供应商名称</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelSupplierName" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>供应商ID</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelSupplierId" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>预定房型</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelRoomName" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>房型ID</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelRoomId" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>确认方式</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelSupplierSubWay" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>传真号/邮箱</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelSupplierLinkMail" disabled />
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="cont-title">订单信息</h3>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>入住人</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOCustomerName" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>入住人手机号</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOCustomerMobile" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>入住/离店</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOCheckInDate" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>最晚到店时间</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOLastCheckInTime" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>成人</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" type="number" ng-model="o.HOAdult" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>儿童</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" type="number" ng-model="o.HOChild" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>房型政策</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelRoomName" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>早餐政策</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HotelRoomBreakfastRuleName" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>房间数</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="num" class="lay-input  long-input" ng-model="o.HORoomCount" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>总间夜</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="yetnum" class="lay-input  long-input" ng-model="o.NightCount" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>酒店卖价</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="sellprice" class="lay-input  long-input" ng-model="m.HoteRoomRuleSellPrice" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>酒店结算价</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="contractprice" class="lay-input  long-input" ng-model="m.HoteRoomRuleContractPrice" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>订单总价</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="totalsell" class="lay-input  long-input" ng-model="o.HOSellPrice" disabled />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>结算总价</label>
                </div>
                <div class="lay-form-item-control">
                    <input id="totalcontract" class="lay-input  long-input" ng-model="o.HOContractPrice" disabled />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption">
                    <label>客人特殊要求</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HORemark" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption">
                    <label>第三方订单号</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOOutSerialId" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>预定联系人</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOLinkerName" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>联系人手机号</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOLinkerMobile" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption">
                    <label>来单渠道</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOPlat1" />
                </div>
            </div>
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption">
                    <label>来单渠道</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="o.HOPlat2" />
                </div>
            </div>
        </div>
    </div>
    <div class="lay-form-foot">
        <input type="button" class="lay-btn lay-btn-primary" value="保存" ng-click="Save()">
    </div>
</div>
<input id="hid" type="hidden" value="@ViewBag.HotelId" />
<input id="hroomid" type="hidden" value="@ViewBag.RoomId" />
<input id="hruleid" type="hidden" value="@ViewBag.RuleId" />
<input id="hsupplierid" type="hidden" value="@ViewBag.SupplierId" />
@section foot{
    <script>

        var mobileReg = /^1(3|4|5|7|8|9)\d{9}$/;
        var telReg = /^(\d{3,4}-?)?\d{7,9}$/;
        var emailReg = /\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.Source = [{ Code: 0, Name: '请选择' }];
            $scope.config = {
                detailUrl: "/hotel/getorderneedinfo/",
                saveUrl: "/order/save/",
            };
            $scope.id = $('#hid').val();
            $scope.roomid = $('#hroomid').val();
            $scope.ruleid = $('#hruleid').val();
            $scope.supplierid = $('#hsupplierid').val();
            $(function () {
                $scope.pageInit();

            });
            //初始化
            $scope.pageInit = function () {
                $scope.getHotel($scope.id, $scope.roomid, $scope.ruleid, $scope.supplierid)
                laydate.render({
                    elem: '#txtDate',
                    range: '~'
                })
                $("#num").bind("input propertychange", function () {
                    $("#yetnum").val($("#num").val());
                    var totalsell = $("#sellprice").val() * $("#num").val()
                    var totalcontract = $("#contractprice").val() * $("#num").val()
                    $("#totalcontract").val(totalcontract.toFixed(2));
                    $("#totalsell").val(totalsell.toFixed(2));
                    $scope.o.HOContractPrice = $("#totalcontract").val();
                    $scope.o.HOSellPrice = $("#totalsell").val();
                });
            }
            //获取酒店详情
            $scope.getHotel = function (hid, roomid, ruleid, supplierid) {
                if (!hid || hid <= 0 && !roomid || roomid <= 0 && !ruleid || ruleid <= 0 && !supplierid || supplierid <= 0) return;
                $.ajax({
                    url: $scope.config.detailUrl + "?hotelid=" + hid + "&roomid=" + roomid + "&rooleid=" + ruleid + "&supplierid=" + supplierid,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (data != null && data.HotelId > 0) {
                            $scope.m = data;
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getDetail");
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }
            //保存
            $scope.Save = function () {
                //var c = $scope.checkData();
                //if (!c) return;
                //eLoading.show();
                $.ajax({
                    url: $scope.config.saveUrl,
                    type: 'post',
                    dataType: "json",
                    data: { "hotelmodel": $scope.m, "ordermodel": $scope.o },
                    timeout: 20000,
                    success: function (data) {
                        if (data != null && data.IsSuccess > 0) {
                            $scope.m.Id = data.AddId;
                            eMsg({
                                timer: 2000,
                                text: '操作成功，正在自动关闭页面！'
                            });
                            //关闭页面
                            setTimeout(function () { $(parent.document).find('#btnSearch').click(); }, 1000);
                        }
                        else {
                            var msg = data ? data.Msg : "";
                            eMsg({
                                timer: 2000,
                                text: '操作失败,' + msg
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-save");
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }

            //数据验证
            $scope.checkData = function () {
                if ($scope.o.HOCustomerName.length <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '入住人姓名不能为空！'
                    });
                    return false;
                }
                if ($scope.o.HOLinkerName.length <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '联系人姓名不能为空！'
                    });
                    return false;
                }
                if ($scope.o.HOCheckInDate.length <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '入住/离店时间不能为空！'
                    });
                    return false;
                }
                if ($scope.o.HOLastCheckInTime.length <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '最晚到店时间不能为空！'
                    });
                    return false;
                }
                if ($scope.o.HOChild < 0) {
                    eMsg({
                        timer: 2000,
                        text: '成人数不能为空！'
                    });
                    return false;
                }
                if ($scope.o.HOChild < 0) {
                    eMsg({
                        timer: 2000,
                        text: '儿童数不能为空！'
                    });
                    return false;
                }
                if ($scope.o.HORoomCount <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '房间数不能为空！'
                    });
                    return false;
                }
                if ($scope.o.HOCustomerMobile.length > 0 && !mobileReg.test($scope.o.HOCustomerMobile) && !telReg.test($scope.o.HOCustomerMobile)) {
                    eMsg({
                        timer: 2000,
                        text: '入住人手机号格式不正确！'
                    });
                    return false;
                }
                if ($scope.o.HOLinkerMobile.length > 0 && !mobileReg.test($scope.o.HOLinkerMobile) && !telReg.test($scope.o.HOLinkerMobile)) {
                    eMsg({
                        timer: 2000,
                        text: '联系人手机号格式不正确！'
                    });
                    return false;
                }
                return true;
            }
        });
    </script>
}
