@section head{
    <style>
        .tip {
            padding: 2px;
        }
    </style>
}
<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div class="lay-row">
        <div class="lay-form-item lay-col-14">
            <div class="lay-form-item-control lay-col-6 " style="padding-right:15px;">
                <h3 class="cont-title">金额信息</h3>
                <table class="lay-table">
                    <tr>
                        <td class="lay-table td">客人实付金额:</td>
                        <td class="lay-table td" ng-bind="m.HOSellPrice"></td>
                        <td class="lay-table td">预定人数：</td>
                        <td class="lay-table td">
                            <label id="count"></label>(成人:<label ng-bind="m.HOChild"></label>  儿童:<label ng-bind="m.HOChild"></label>)
                        </td>
                    </tr>
                    <tr>
                        <td class="lay-table td">应付供应商：</td>
                        <td class="lay-table td" ng-bind="m.HOContractPrice"></td>
                        <td class="lay-table td">订单佣金：</td>
                        <td class="lay-table td"><label id="ordercommis" /></td>
                    </tr>
                    @*<tr>
                            <td class="lay-table td">供应商订单号：</td>
                            <td class="lay-table td"></td>
                            <td class="lay-table td">第三方订单号：</td>
                            <td class="lay-table td"></td>
                        </tr>*@
                    <tr>
                        <td class="lay-table td">外部订单号：</td>
                        <td class="lay-table td" colspan="3">
                            <input id="HOOutSerialId" class="lay-input  long-input" ng-bind="m.HOOutSerialId" />
                            <input type="button" class="lay-btn lay-btn-primary" style="padding: 5px;" value="保存" ng-click="OperaType(2,0)">
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="lay-form-item-control lay-col-6">
                <h3 class="cont-title">酒店信息</h3>
                <table class="lay-table">
                    <tr>
                        <td class="lay-table td">酒店名称:</td>
                        <td class="lay-table td" ng-bind="m.HName"></td>
                        <td class="lay-table td">供应商名称：</td>
                        <td class="lay-table td" ng-bind="m.HOSupperlierName"></td>
                    </tr>
                    <tr>
                        <td class="lay-table td">酒店ID：</td>
                        <td class="lay-table td" ng-bind="m.HIId"></td>
                        <td class="lay-table td">供应商ID：</td>
                        <td class="lay-table td" ng-bind="m.HOSupplierId"></td>
                    </tr>
                    <tr>
                        <td class="lay-table td">预定房型：</td>
                        <td class="lay-table td" ng-bind="m.HRName"></td>
                        <td class="lay-table td">房型ID：</td>
                        <td class="lay-table td" ng-bind="m.HRId"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="lay-row">
        <div class="lay-form-item lay-col-12">
            <div class="lay-form-item-control lay-col-6 " style="padding-right:15px;">
                <h3 class="cont-title">订单信息</h3>
                <table class="lay-table">
                    <tr>
                        <td class="lay-table td">入住人:</td>
                        <td class="lay-table td" ng-bind="m.HOCustomerName"></td>
                        <td class="lay-table td">入住/离店：</td>
                        <td class="lay-table td">
                            @*<label ng-bind="m.HOCheckInDate" />-<label ng-bind="m.HOCheckOutDate" />*@
                            <label ng-bind="m.HOCheckInDate"></label>-<label ng-bind="m.HOCheckOutDate"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="lay-table td">早餐：</td>
                        <td class="lay-table td" ng-bind="m.HOCustomerName"></td>
                        <td class="lay-table td">最晚到店时间：</td>
                        <td class="lay-table td" ng-bind="m.HOLastCheckInTime"></td>
                    </tr>
                    <tr>
                        <td class="lay-table td">房型政策：</td>
                        <td class="lay-table td" ng-bind="m.HRRName"></td>
                        <td class="lay-table td">房间数：</td>
                        <td class="lay-table td" ng-bind="m.HORoomCount"></td>
                    </tr>
                    <tr>
                        <td class="lay-table td">供应商确认号：</td>
                        <td class="lay-table td" colspan="3">
                            <input id="HOSupplierSerialId" class="lay-input  long-input" ng-bind="m.HOSupplierSerialId" />
                            <input type="button" class="lay-btn lay-btn-primary" style="padding: 5px;" value="保存" ng-click="OperaType(3,0)">
                        </td>
                    </tr>
                    <tr>
                        <td class="lay-table td">客人特殊要求：</td>
                        <td class="lay-table td" ng-bind="m.HORemark"></td>
                        <td class="lay-table td">入住人手机号：</td>
                        <td class="lay-table td" ng-bind="m.HOCustomerMobile"></td>
                    </tr>
                </table>
            </div>
            <div class="lay-form-item-control lay-col-6">
                <h3 class="cont-title">操作日志</h3>
                <input type="button" class="lay-btn lay-btn-primary" value="填写日志" ng-click="OperaType(0,0)">
                <table class="lay-table">
                    <thead>
                        <tr>
                            <th class="lay-table td" width="5%">操作部门</th>
                            <th class="lay-table td" width="5%">操作人</th>
                            <th class="lay-table td" width="15%">操作内容</th>
                            <th class="lay-table td" width="5%">操作时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in list">
                            <td class="lay-table td" ng-bind="d.HOLAddDepartName"></td>
                            <td class="lay-table td" ng-bind="d.HOLAddName"></td>
                            <td class="lay-table td" ng-bind="d.HOLRemark" style="word-wrap:break-word;word-break:break-all;"></td>
                            <td class="lay-table td" ng-bind="GetDate(d.HOLAddTime)"></td>
                        </tr>

                        <tr ng-hide="list!=null &&list.length > 0">
                            <td colspan="8" class="lay-table-empty">暂无数据显示</td>
                        </tr>
                    </tbody>
                </table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>
<input id="hc" type="hidden" />
<input id="ha" type="hidden" />
<input id="horderid" type="hidden" value="@ViewBag.OrderId" />
<input id="hserialid" type="hidden" value="@ViewBag.CustomerSerialId" />
<div class="lay-dialog" id="dialoglog" hidden>
    <div class="lay-dialog-mask"></div>
    <div class="lay-dialog-cont" style="width:60%;height:60%;">
        <div class="lay-dialog-hd">
            <h3>日志信息</h3>
            <button class="lay-dialog-btn-close"></button>
        </div>
        <div class="lay-dialog-bd">
            <div class="lay-row">
                <div class="lay-form-item lay-must">
                    <div class="lay-form-item-caption">
                        <label>部门名称：</label>
                    </div>
                    <div class="lay-form-item-control">
                        <input class="lay-input" ng-model="Log.HOLAddDepartName" />
                    </div>
                </div>
            </div>
            <div class="lay-row">
                <div class="lay-form-item lay-col-6 lay-must">
                    <div class="lay-form-item-caption">
                        <label>操作人：</label>
                    </div>
                    <div class="lay-form-item-control">
                        <input class="lay-input" ng-model="Log.HOLAddName" />
                    </div>
                </div>
            </div>
            <div class="lay-row">
                <div class="lay-form-item lay-col-6 lay-must">
                    <div class="lay-form-item-caption ">
                        <label>日志信息：</label>
                    </div>
                    <div class="lay-form-item-control">
                        <textarea class="lay-input long-input" ng-model="Log.HOLRemark" style="height: auto;"></textarea>
                    </div>
                </div>
            </div>
            <div class="lay-form-foot">
                <input type="button" class="lay-btn lay-btn-primary" value="保存" ng-click="SaveLog()">
            </div>
        </div>
    </div>
</div>
@section foot{
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.config = {
                detailUrl: "/order/getdetial",
                logUrl: "/order/getorderloglist",
                //savelogUrl: "/order/savelog",
                saveUrl: "/order/setorder/",
            };
            $scope.type = "";//操作类型 0：填写日志 1：修改订单状态 2：添加外部订单号 3：添加供应商确认号
            $scope.state = "";//订单状态
            $scope.serialid = "";//外部订单号Or供应商确认号
            $scope.id = $('#horderid').val();
            $(function () {
                $scope.pageInit();
                $scope.Search = { PageIndex: 1 };
                $scope.search(1);
            });


            $scope.GetDate = function (data) {
                var date = eval(data.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                //不带时分秒
                return time = date.toLocaleDateString();
            }

            $scope.GetLastdate = function (data) {
                var date = eval(data.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                var datetime = (date.getHours() < 10 ? "0" + date.getHours() : date
                        .getHours())
                + ":"
                + (date.getMinutes() < 10 ? "0" + date.getMinutes() : date
                        .getMinutes())
                + ":"
                + (date.getSeconds() < 10 ? "0" + date.getSeconds() : date
                        .getSeconds());
                return datetime;
            }

            //初始化
            $scope.pageInit = function () {
                $scope.getdetail($scope.id);
            }
            //获取订单详情
            $scope.getdetail = function (orderid) {
                if (!orderid || orderid <= 0) return;
                $.ajax({
                    url: $scope.config.detailUrl + "?orderid=" + orderid,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (data != null && data.Id > 0) {
                            $scope.m = data;
                            $scope.m.HOCheckInDate = $scope.GetDate($scope.m.HOCheckInDate);
                            $scope.m.HOCheckOutDate = $scope.GetDate($scope.m.HOCheckOutDate);
                            //var lastdate = $scope.GetDate($scope.m.HOLastCheckInTime);
                            //$scope.m.HOLastCheckInTime = $scope.GetLastdate($scope.m.HOLastCheckInTime);
                            $("#count").html($scope.m.HOChild + $scope.m.HOAdult);
                            $("#ordercommis").html($scope.m.HOSellPrice - $scope.m.HOContractPrice);
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getDetail");
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }

            //查询
            $scope.search = function (index) {
                //$scope.detailClear();
                $scope.Search.PageIndex = index;
                $scope.Search.CustomerSerialId = $('#hserialid').val();
                var para = $scope.Search;
                eLoading.show();
                $.ajax({
                    url: $scope.config.logUrl,
                    type: 'post',
                    dataType: "json",
                    data: para,
                    timeout: 20000,
                    success: function (data) {
                        $scope.list = [];
                        if (data != null && data.IsSuccess > 0) {
                            $scope.list = data.List;
                            //$scope.pagerInit(index, data.Total);
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err");
                        eMsg({
                            timer: 2000,
                            text: '查询失败，请稍后重试！'
                        });
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }

            //打开日志页面
            //$scope.OpenSave = function ()
            //{
            //    $("#dialogDetail").eDialog('show');
            //}

            //操作类型
            $scope.OperaType = function (type, state) {
                $scope.type = type;
                switch (type) {
                    //订单状态
                    case 1:
                        $scope.state = state;
                        break;
                    //外部订单号
                    case 2:
                        var out = $("#HOOutSerialId").val();
                        //alert(out);
                        if (out == null || out == undefined || out == "") {
                            eMsg({
                                timer: 2000,
                                text: '外部订单号不能为空！'
                            });
                            return false;
                        }
                        $scope.serialid = out;
                        break;
                    //供应商确认号
                    case 3:
                        var suplier = $("#HOSupplierSerialId").val();
                        if (suplier == null || suplier == undefined || suplier == "") {
                            eMsg({
                                timer: 2000,
                                text: '供应商订单号不能为空！'
                            });
                            return false;
                        }
                        $scope.serialid = suplier;
                        break;
                }
                $("#dialoglog").eDialog('show');
            }


            //保存
            $scope.SaveLog = function () {
                alert("12313");
                //$.ajax({
                //    url: $scope.config.saveUrl,
                //    type: 'post',
                //    dataType: "json",
                //    data: { "id": $scope.m.id, "type": $scope.type, "state": $scope.state, "serialid": $scope.serialid, "logmodel": $scope.Log },
                //    timeout: 20000,
                //    success: function (data) {
                //        if (data != null && data.IsSuccess > 0) {
                //            eMsg({
                //                timer: 2000,
                //                text: '操作成功，正在自动关闭页面！'
                //            });
                //            //关闭页面
                //            setTimeout(function () {
                //                //$(parent.document).find('#btnSearch').click();
                //                $("#dialogDetail").eDialog('hide');
                //            }, 1000);
                //        }
                //        else {
                //            var msg = data ? data.Msg : "";
                //            eMsg({
                //                timer: 2000,
                //                text: '操作失败,' + msg
                //            });
                //        }
                //        $scope.$apply();
                //    },
                //    error: function () {
                //        console.log("err-save");
                //    },
                //    complete: function () {
                //        eLoading.hide();
                //    }
                //});
            }


            ////保存订单操作
            //$scope.SaveOrder = function (type, state) {
            //    $.ajax({
            //        url: $scope.config.saveUrl,
            //        type: 'post',
            //        dataType: "json",
            //        data: { "id": $scope.id, "type": type, "state": state, "logmodel": $scope.Log },
            //        timeout: 20000,
            //        success: function (data) {
            //            if (data != null && data.IsSuccess > 0) {
            //                $scope.l.Id = data.AddId;
            //                eMsg({
            //                    timer: 2000,
            //                    text: '操作成功，正在自动关闭页面！'
            //                });
            //                //关闭页面
            //                setTimeout(function () {
            //                    $scope.Search = { PageIndex: 1 };
            //                    $scope.search(1);
            //                }, 1000);
            //            }
            //            else {
            //                var msg = data ? data.Msg : "";
            //                eMsg({
            //                    timer: 2000,
            //                    text: '操作失败,' + msg
            //                });
            //            }
            //            $scope.$apply();
            //        },
            //        error: function () {
            //            console.log("err-save");
            //        },
            //        complete: function () {
            //            eLoading.hide();
            //        }
            //    });
            //}

            ////保存订单日志
            //$scope.SaveLog = function () {
            //    $("#dialoglog").eDialog('show');
            //    $.ajax({
            //        url: $scope.config.savelogUrl,
            //        type: 'post',
            //        dataType: "json",
            //        data: $scope.Log,
            //        timeout: 20000,
            //        success: function (data) {
            //            if (data != null && data.IsSuccess > 0) {
            //                $scope.l.Id = data.AddId;
            //                eMsg({
            //                    timer: 2000,
            //                    text: '操作成功，正在自动关闭页面！'
            //                });
            //                //关闭页面
            //                setTimeout(function () {
            //                    $scope.Search = { PageIndex: 1 };
            //                    $scope.search(1);
            //                }, 1000);
            //            }
            //            else {
            //                var msg = data ? data.Msg : "";
            //                eMsg({
            //                    timer: 2000,
            //                    text: '操作失败,' + msg
            //                });
            //            }
            //            $scope.$apply();
            //        },
            //        error: function () {
            //            console.log("err-save");
            //        },
            //        complete: function () {
            //            eLoading.hide();
            //        }
            //    });
            //}

            ////更新订单
            //$scope.setOrder = function (id, valid) {
            //    var msg = "确定保存？";
            //    eMsg({
            //        timer: 2000,
            //        text: msg
            //    });
            //    valid = valid == 1 ? 0 : 1;
            //    var url = $scope.config.validUrl + "?id=" + id + "&valid=" + valid;
            //    Untitl.Get(url, {}, function (data) {
            //        if (data != null && data.IsSuccess > 0) {
            //            eMsg({
            //                timer: 2000,
            //                text: '操作成功，正在刷新页面！'
            //            });
            //            //刷新页面
            //            $scope.search(1);
            //        }
            //        else {
            //            var msg = data ? data.Msg : "";
            //            eMsg({
            //                timer: 2000,
            //                text: '操作失败,' + msg
            //            });
            //        }
            //    });

            //}
        });
    </script>
}
