<div class="lay-form" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <table class="lay-table">
        <thead>
            <tr>
                <th width="40%">部门名称</th>
                <th width="40%">上级部门</th>
                <th>负责人</th>
                @*<th width="20%">操作</th>*@
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in list">
                <td ng-bind="d.DIName"></td>
                <td ng-bind="d.DIParentName"></td>
                <td ng-bind="d.DILeaderName"></td>
                @*<td>
                        <input type="button" class="lay-btn lay-btn-edit" value="详情" ng-click="detail(d.Id)" />
                    </td>*@
            </tr>

            <tr ng-hide="list!=null &&list.length > 0">
                <td colspan="3" class="lay-table-empty">暂无数据显示</td>
            </tr>
        </tbody>
    </table>
    <div id="pager"></div>
</div>

@section foot{
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $(function () {
                $scope.pageInit();
            });
            $scope.config = {
                listUrl: "/system/GetDepartList",
            }
            //页面初始化
            $scope.pageInit = function () {
                $scope.search();
            }
            //查询
            $scope.search = function (index) {
                index = !index || index <= 0 ? 1 : index;
                var para = { PageIndex: index };
                eLoading.show();
                $.ajax({
                    url: $scope.config.listUrl,
                    type: 'get',
                    dataType: "json",
                    data: para,
                    timeout: 20000,
                    success: function (data) {
                        var msg = "";
                        $scope.list = [];
                        if (data != null && data.List != null && data.List.length > 0) {
                            $scope.list = data.List;
                            $scope.pagerInit(index, data.Total);
                        }
                        else {
                            eMsg({
                                text: '查询失败，请稍后重试！'
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err");
                        eMsg({
                            text: '查询失败，请稍后重试！'
                        });
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }
            //分页
            $scope.pagerInit = function (index, total) {
                var pager = new PagerView('pager');
                pager.index = index;
                pager.size = 10;
                pager.itemCount = total;
                pager.onclick = function (index) {
                    $scope.Search(index);
                };
                pager.render();
            }
            $scope.detail = function (id) {

            }
        });
    </script>
}