<div class="lay-form" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <table class="lay-table">
        <thead>
            <tr>
                <th width="20%">姓名</th>
                <th width="20%">归属部门</th>
                <th>职责</th>
                <th width="20%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in userList">
                <td ng-bind="u.Name"></td>
                <td ng-bind="u.DepartName"></td>
                <td ng-bind="u.Responsibility"></td>
                <td>
                    <input type="button" class="lay-btn lay-btn-edit" value="详情" ng-click="detail(u.Id)" />
                </td>
            </tr>

            <tr ng-hide="userList!=null &&userList.length > 0">
                <td colspan="4" class="lay-table-empty">暂无数据显示</td>
            </tr>
        </tbody>
    </table>
    <div id="pager"></div>
</div>

<div class="lay-dialog" id="dialogDetail">
    <div class="lay-dialog-mask"></div>
    <div class="lay-dialog-cont" style="width:96%;height:96%;">
        <div class="lay-dialog-hd">
            <h3>用户信息</h3>
            <button class="lay-dialog-btn-close"></button>
        </div>
        <div class="lay-dialog-bd">
            <iframe id="ifm_detail" src="" style="border:none;width:100%;height:100%;"></iframe>
        </div>
    </div>
</div>

@section foot{
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $(function () {
                $scope.pageInit();
            });
            $scope.config = {
                listUrl: "/system/getuserlist",
            }
            //页面初始化
            $scope.pageInit = function () {
                $scope.search();
            }
            //查询
            $scope.search = function (index) {
                index = !index || index <= 0 ? 1 : index;
                var para = { PageIndex: index };
                eLoading.show();
                $.ajax({
                    url: $scope.config.listUrl,
                    type: 'get',
                    dataType: "json",
                    data: para,
                    timeout: 20000,
                    success: function (data) {
                        var msg = "";
                        $scope.userList = [];
                        if (data != null && data.IsSuccess > 0) {
                            $scope.userList = data.List;
                            $scope.pagerInit(index, data.Total);
                        }
                        else {
                            eMsg({
                                timer: 2000,
                                text: '查询失败，请稍后重试！'
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err");
                        eMsg({
                            timer: 2000,
                            text: '查询失败，请稍后重试！'
                        });
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }
            //分页
            $scope.pagerInit = function (index, total) {
                var pager = new PagerView('pager');
                pager.index = index;
                pager.size = 10;
                pager.itemCount = total;
                pager.onclick = function (index) {
                    $scope.search(index);
                };
                pager.render();
            }
            $scope.detail = function (id) {
                var url = "/system/userdetail?id=" + id;
                $('#ifm_detail').prop('src', url);
                $("#dialogDetail").eDialog('show');
            }
        });
    </script>
}