@{
    ViewBag.PageTitle = "酒店管理";
}
@section head{
    <style>
        .select-area {
            min-width: 90px;
        }
    </style>

}
<div class="lay-form" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div class="lay-row">
        <div class="lay-form-item lay-col-3">
            <div class="lay-form-item-caption ">
                <label>酒店Id</label>
            </div>
            <div class="lay-form-item-control">
                <input class="lay-input" type="number" ng-model="Search.Id" placeholder="请输入酒店Id" />
            </div>
        </div>
        <div class="lay-form-item lay-col-3">
            <div class="lay-form-item-caption ">
                <label>酒店名称</label>
            </div>
            <div class="lay-form-item-control">
                <input class="lay-input" ng-model="Search.Name" placeholder="请输入酒店名称" />
            </div>
        </div>
        <div class="lay-form-item lay-col-3">
            <div class="lay-form-item-caption ">
                <label>有效性</label>
            </div>
            <div class="lay-form-item-control">
                <select class="lay-select  lay-input" ng-model="Search.Valid" ng-init="Search.Valid=-1" ng-options="item.Code as item. Name for item in Config.ValidSource"></select>
            </div>
        </div>
    </div>
    <div class="lay-row">
        <div class="lay-form-item lay-col-3">
            <div class="lay-form-item-caption ">
                <label>供应商来源</label>
            </div>
            <div class="lay-form-item-control">
                <select class="lay-select  lay-input" ng-model="Search.SourceId" ng-init="Search.SourceId=0" ng-options="item.Code as item. Name for item in Source"></select>
            </div>
        </div>
        <div class="lay-form-item lay-col-3">
            <div class="lay-form-item-caption ">
                <label>供应商名称</label>
            </div>
            <div class="lay-form-item-control">
                <input class="lay-input" ng-model="Search.SupplierName" placeholder="请输入酒店名称" />
            </div>
        </div>
        <div class="lay-form-item lay-col-6">
            <div class="lay-form-item-caption ">
                <label>区域</label>
            </div>
            <div class="lay-form-item-control">
                <select class="lay-select select-area" placeholder="请选择省份" ng-model="Search.ProvId" ng-init="Search.ProvId=0" ng-options="item.Id as item. Name for item in ProvList" ng-change="getArea(1)"></select>
                <select class="lay-select select-area" placeholder="请选择城市" ng-model="Search.CityId" ng-init="Search.CityId=0" ng-options="item.Id as item. Name for item in CityList"></select>

                <input id="btnSearch" type="button" class="lay-btn lay-btn-primary" value="查询" ng-click="search(1)">
                <input type="button" class="lay-btn lay-btn-primary" value="新增" ng-click="detail(0)">
            </div>
        </div>
    </div>
    <table class="lay-table">
        <thead>
            <tr>
                <th width="10%">酒店ID</th>
                <th>酒店名称</th>
                <th width="15%">区域</th>
                <th width="15%">供应商来源</th>
                <th width="10%">是否有效</th>
                <th width="20%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="h in list">
                <td ng-bind="h.Id"></td>
                <td ng-bind="h.Name"></td>
                <td ng-bind-template="{{h.ProvName}}--{{h.CityName}}"></td>
                <td ng-bind="h.Source"></td>
                <td ng-bind-template="{{h.Valid==1?'有效':'无效'}}"></td>
                <td>
                    <input type="button" class="lay-btn lay-btn-edit" value="编辑" ng-click="detail(h.Id)" />
                    <input type="button" class="lay-btn lay-btn-edit" value="上传图片" ng-click="detail(h.Id)" />
                    <input type="button" class="lay-btn lay-btn-edit-cancel" value="设置{{h.Valid==1?'无效':'有效'}}" ng-click="setValid(h.Id,h.Valid)" />
                </td>
            </tr>

            <tr ng-hide="list!=null &&list.length > 0">
                <td colspan="6" class="lay-table-empty">暂无数据显示</td>
            </tr>
        </tbody>
    </table>
    <div id="pager"></div>
</div>

<div class="lay-dialog" id="dialogDetail">
    <div class="lay-dialog-mask"></div>
    <div class="lay-dialog-cont" style="width:920px;height:520px;">
        <div class="lay-dialog-hd">
            <h3>酒店信息</h3>
            <button class="lay-dialog-btn-close"></button>
        </div>
        <div class="lay-dialog-bd">
            <iframe id="ifm_detail" src="" style="border:none;width:100%;height:100%;"></iframe>
        </div>
    </div>
</div>

@section foot{
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $(function () {
                $scope.pageInit();
            });
            $scope.config = {
                sourceUrl: "/system/getdiclistbypcode/?pCode=101",
                areaUrl: "/system/GetAreaList/?pid=",
                listUrl: "/hotel/getlist/",
                validUrl: "/hotel/setvalid/",
                ValidSource: [{ Code: -1, Name: "全部" }, { Code: 1, Name: "有效" }, { Code: 0, Name: "无效" }]
            }
            //页面初始化
            $scope.pageInit = function () {
                $scope.Search = { PageIndex: 1, Id: '', Name: '', SupplierName: '', Valid: -1, ProvId: 0, CityId: 0, SourceId: 0 };
                $scope.getSource();
                $scope.getArea(0);
                $scope.search(1);
            }
            //查询
            $scope.search = function (index) {
                $scope.detailClear();
                $scope.Search.PageIndex = index;
                var para = $scope.Search;
                eLoading.show();
                $.ajax({
                    url: $scope.config.listUrl,
                    type: 'post',
                    dataType: "json",
                    data: para,
                    timeout: 20000,
                    success: function (data) {
                        $scope.list = [];
                        if (data != null && data.IsSuccess > 0) {
                            $scope.list = data.List;
                            $scope.pagerInit(index, data.Total);
                        }
                        else {
                            eMsg({
                                timer: 2000,
                                text: '查询失败，请稍后重试！'
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err");
                        eMsg({
                            timer: 2000,
                            text: '查询失败，请稍后重试！'
                        });
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }
            //分页
            $scope.pagerInit = function (index, total) {
                var pager = new PagerView('pager');
                pager.index = index;
                pager.size = 10;
                pager.itemCount = total;
                pager.onclick = function (index) {
                    $scope.search(index);
                };
                pager.render();
            }

            //获取来源
            $scope.getSource = function () {
                $.ajax({
                    url: $scope.config.sourceUrl,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        $scope.Source = data;
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getSource");
                    },
                    complete: function () {
                    }
                });
            }
            //获取省市查询
            $scope.getArea = function (type) {
                var pId = type == 0 ? 1 : $scope.Search.ProvId;
                if (!pId || pId <= 0) return;
                var url = $scope.config.areaUrl + pId;
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (type == 0) {
                            $scope.ProvList = data;
                            $scope.ProvList.unshift({ Id: 0, Name: "请选择省份" });
                            $scope.CityList = [{ Id: 0, Name: "请选择城市" }];
                            $scope.Search.CityId = 0;
                        }
                        else {
                            $scope.CityList = data;
                            $scope.CityList.unshift({ Id: 0, Name: "请选择城市" });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getSource");
                    },
                    complete: function () {
                    }
                });
            }


            //详情
            $scope.detail = function (id) {
                var url = "/hotel/detail?id=" + id;
                $('#ifm_detail').prop('src', url);
                $("#dialogDetail").eDialog('show');
            }
            //设置有效性
            $scope.setValid = function (id, valid) {
                var msg = "确定设置为" + valid == 1 ? "无效？" : "有效？请谨慎操作！！";
                eMsg({
                    timer: 2000,
                    text: msg
                });
                valid = valid == 1 ? 0 : 1;
                var url = $scope.config.validUrl + "?id=" + id + "&valid=" + valid;
                Untitl.Get(url, {}, function (data) {
                    if (data != null && data.IsSuccess > 0) {
                        eMsg({
                            timer: 2000,
                            text: '操作成功，正在刷新页面！'
                        });
                        //刷新页面
                        $scope.search(1);
                    }
                    else {
                        var msg = data ? data.Msg : "";
                        eMsg({
                            timer: 2000,
                            text: '操作失败,' + msg
                        });
                    }
                });

            }
            $scope.detailClear = function (id) {
                $('#ifm_detail').prop('src', '');
                $("#dialogDetail").eDialog('hide');
            }
        });
    </script>
}
