@{
    ViewBag.Title = "酒店图片上传";
}

@section head{
    <link href="~/Content/lib/layui/css/layui.css" rel="stylesheet" media="all" />
}
<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div>
        <h3 class="cont-title">图片类型</h3>
        <div class="lay-form-item">
            <div class="lay-form-item-caption ">
                <label>选择</label>
            </div>
            <div class="lay-form-item-control">
                <input ng-repeat-start="x in SecTypeData" type="radio" class="lay-radio-variant"
                       name="rdo-res" id="rdo-res-{{$index}}" ng-model="m.SecType" value="{{x.Code}}" ng-change="picShow()" />
                <label for="rdo-res-{{$index}}">
                    <span ng-bind="x.Name"></span>
                </label>
                <i ng-repeat-end class="none"></i>
            </div>
            <button type="button" class="layui-btn layui-btn-danger" id="lay_upload">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
            <div class="layui-upload-list" id="showlist"></div>
        </blockquote>
    </div>
</div>
<input id="hfId" type="hidden" value="@ViewBag.Id" />
<input id="hfsecType" type="hidden" value="0" />
@section foot{
    <script src="~/Content/lib/layui/layui.js" type="text/javascript"></script>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.Source = [{ Code: 0, Name: '请选择' }];
            $scope.Id = $('#hfId').val();
            $scope.m = { SecType: 0 };
            $scope.config = {
                uploadUrl: "/system/upload/?mainType=hotel",//secType=&id=
                picUrl: "/hotel/GetPicList/?id=" + $('#hfId').val(),//secType=&id=
                saveUrl: "/hotel/SavePicModel/",
                SecTypeData: [],
                AllImgData: [],
            };
            $scope.Id = $('#hfId').val();
            $(function () {
                $scope.ImgData = [];
                $scope.pageInit();
            });
            //初始化
            $scope.pageInit = function () {
                //图片类型
                $scope.dicInit();
                //图片查询
                $scope.picInit();
            }

            //字典初始化
            $scope.dicInit = function () {
                //图片类型
                Untitl.GetDicList2(202, 0, function (data) {
                    $scope.SecTypeData = data;
                    $scope.m.SecType = data[0].Code;
                    $scope.$apply();
                });

            }
            //查询图片
            $scope.picInit = function () {
                //picUrl
                eLoading.show();
                $.ajax({
                    url: $scope.config.picUrl,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        $scope.config.AllImgData = data;
                        $scope.picShow();
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err");
                        eMsg({
                            timer: 2000,
                            text: '查询失败，请稍后重试！'
                        });
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });

            }
            //图片列表
            $scope.picShow = function () {
                $('#hfsecType').val($scope.m.SecType)
                console.log($scope.m.SecType);
                var data = $scope.config.AllImgData;
                $('#showlist').html("暂无图片");
                var showHtml = "";
                if (data && data.length > 0) {
                    console.log(data);
                    $.each(data, function (index, item) {
                        if (item && item.HPType == $scope.m.SecType) {
                            showHtml += '<img src="' + item.HPUrl + '" style="margin: 16px;width: 160px;height: 160px;"  alt="" class="layui-upload-img">';
                        }
                    });
                }
                if (showHtml.length > 0) {
                    $('#showlist').html(showHtml);
                }
                //if (typeList.length > 0) {
                //    $('#showlist').html("");
                //    $.each(typeList, function (index, item) {
                //        $('#showlist').append('<img src="' + item.HPUrl + '" style="margin: 16px;width: 160px;height: 160px;"  alt="" class="layui-upload-img">')
                //    });
                //}
            }


            //上传组件初始化 layui
            layui.use('upload', function () {
                var upload = layui.upload;
                //执行实例
                var uploadInst = upload.render({
                    elem: '#lay_upload' //绑定元素
                    , url: '/system/upload/' //secType=&id= //上传接口
                    , data: {
                        mainType: 'hotel',
                        id: $('#hfId').val(),
                        secType: $scope.getSecType(),
                    }
                    , done: function (res) {
                        //上传完毕回调
                        console.log('----------done----------');
                        console.log(this);
                        $scope.uploadDone(res);
                    }
                    , error: function () {
                        //请求异常回调
                    }
                });
            });
            $scope.getSecType = function () {
                console.log($scope.m.SecType);
                return $scope.m.SecType;
            }
            $scope.uploadDone = function (data) {
                console.log('----------uploadDone----------');
                console.log(data);

                var m = {
                    HIId: $scope.Id,
                    HPType: $scope.m.SecType,
                    HPUrl: data[0],
                };
                //data.each(function (index, item) {
                //});
                eLoading.show();
                Untitl.Post($scope.config.saveUrl, m, function (data) {
                    if (data != null && data.IsSuccess > 0) {
                        eMsg({
                            timer: 2000,
                            text: '图片上传成功！'
                        });
                        $scope.picInit();
                    }
                    else {
                        var msg = data ? data.Msg : "";
                        eMsg({
                            timer: 2000,
                            text: '操作失败,' + msg
                        });
                    }
                    $scope.$apply();
                },
                    function () {
                        eLoading.hide();
                    });
            }
        });
    </script>
}