<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6 lay-must">
                <div class="lay-form-item-caption">
                    <label>房型名称</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input  long-input" ng-model="m.HRName" />
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-8">
                <div class="lay-form-item-caption ">
                    <label>床型</label>
                </div>
                <div class="lay-form-item-control">
                    <select class="lay-select select-area" placeholder="请选择床型" ng-model="m.HRBedType" ng-init="m.HRBedType=0" ng-options="item.Code as item. Name for item in BedTypeList"></select>
                    <select class="lay-select select-area" placeholder="请选择大小" ng-model="m.HRBedSize" ng-init="m.HRBedSize=0" ng-options="item.Code as item. Name for item in BedSizeList"></select>
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption ">
                    <label>是否有窗</label>
                </div>
                <div class="lay-form-item-control">
                    <select class="lay-select select-area" placeholder="请选择是否有窗" ng-model="m.HRWindowsType" ng-init="m.HRWindowsType=0" ng-options="item.Code as item. Name for item in WindowsTypeList"></select>
                </div>
            </div>
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption ">
                    <label>房间大小</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input" ng-model="m.HRRoomSIze" /> 
                </div>
            </div>
        </div>
        <div class="lay-row">
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption ">
                    <label>可住人数</label>
                </div>
                <div class="lay-form-item-control">
                    <select class="lay-select select-area" placeholder="请选择可住人数" ng-model="m.HRPersonCount" ng-init="m.HRPersonCount=0" ng-options="item.Code as item. Name for item in PersonCountList"></select>
                </div>
            </div>
            <div class="lay-form-item lay-col-6">
                <div class="lay-form-item-caption ">
                    <label>所在楼层</label>
                </div>
                <div class="lay-form-item-control">
                    <input class="lay-input" ng-model="m.HRFloor" />
                </div>
            </div>
        </div>
    </div>

    <div class="lay-form-foot">
        <input type="button" class="lay-btn lay-btn-primary" value="保存" ng-click="Save()">
    </div>
</div>
<input id="hfId" type="hidden" value="@ViewBag.Id" />
<input id="hfHotelId" type="hidden" value="@ViewBag.HotelId" />
@section foot{
    <script>

        var mobileReg = /^1(3|4|5|7|8|9)\d{9}$/;
        var telReg = /^(\d{3,4}-?)?\d{7,9}$/;
        var emailReg = /\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.Source = [{ Code: 0, Name: '请选择' }];
            $scope.config = {
                detailUrl: "/hotel/getdroomdetail/",
                saveUrl: "/hotel/saveroom/",
            };
            $scope.Id = $('#hfId').val();
            $scope.HotelId = $('#hfHotelId').val();
            $(function () {
                $scope.pageInit();
            });
            //初始化
            $scope.pageInit = function () {
                $scope.m = { HIId: $scope.HotelId };
                $scope.dicInit();
                if ($scope.Id > 0) {
                    $scope.getDetail();
                }
            }
            //字典初始化
            $scope.dicInit = function () {
                //床型
                Untitl.GetDicList(101, function (data) {
                    $scope.BedTypeList = data;
                    $scope.$apply();
                });
                Untitl.GetDicList(101, function (data) {
                    $scope.BedSizeList = data;
                    $scope.$apply();
                });
                //窗户
                Untitl.GetDicList(101, function (data) {
                    $scope.WindowsTypeList = data;
                    $scope.$apply();
                });
                //人数
                Untitl.GetDicList(101, function (data) {
                    $scope.PersonCountList = data;
                    $scope.$apply();
                });
            }

            //详情
            $scope.getDetail = function () {
                eLoading.show();
                $.ajax({
                    url: $scope.config.detailUrl + "?id=" + $scope.Id,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (data != null && data.Id > 0) {
                            $scope.m = data;
                            if ($scope.m && $scope.m.HIProvinceId > 0) {
                                $scope.getArea(1);
                            }
                        }
                        else {
                            eMsg({
                                timer: 2000,
                                text: '查询失败，请稍后重试！'
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getDetail");
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }

            //保存
            $scope.Save = function () {
                var c = $scope.checkData();
                if (!c) return;
                eLoading.show();
                Untitl.Post($scope.config.saveUrl, $scope.m, function (data) {
                    if (data != null && data.IsSuccess > 0) {
                        $scope.m.Id = data.AddId;
                        eMsg({
                            timer: 2000,
                            text: '操作成功，正在自动关闭页面！'
                        });
                        //关闭页面
                        setTimeout(function () { $(parent.document).find('#btnSearch').click(); }, 1000);
                    }
                    else {
                        var msg = data ? data.Msg : "";
                        eMsg({
                            timer: 2000,
                            text: '操作失败,' + msg
                        });
                    }
                    $scope.$apply();
                },
                    function () {
                        eLoading.hide();
                    });
            }

            //数据验证
            $scope.checkData = function () {

                if ($scope.m.HRName.length <= 0) {
                    eMsg({
                        timer: 2000,
                        text: '房型名称不能为空！'
                    });
                    return false;
                }
                return true;
            }
        });
    </script>
}