<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/lib/base.css" rel="stylesheet" />
    <link href="~/Content/lib/laydate.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
    <script src="~/Content/lib/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/lib/angular.min.js" type="text/javascript"></script>
    <script src="~/Content/lib/laydate.js" type="text/javascript"></script>
    <script src="~/Content/lib/base.js" type="text/javascript"></script>
    @RenderSection("foot", false)
</body>
</html>
