@section head{
    <style>
        .tip {
            padding: 2px;
        }
    </style>
}
<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div class="lay-row">
        <div class="lay-form-item lay-col-16">
            <div class="lay-form-item-control lay-col-16 " style="padding-right:15px;">
                <h3 class="cont-title">资源分配</h3>
                <table class="lay-table">
                    <tr>
                        <td class="lay-table td">分销商id:</td>
                        <td class="lay-table td" ng-bind="m.Id"></td>
                        <td class="lay-table td">分销商名称：</td>
                        <td class="lay-table td" ng-bind="m.DName"></td>
                        <td class="lay-table td"></td>
                        <td class="lay-table td"></td>
                    </tr>
                    <tr>
                        <td class="lay-table td">合作模式：</td>
                        <td class="lay-table td" ng-bind="m.DCooperationModeName"></td>
                        <td class="lay-table td">结算模式：</td>
                        <td class="lay-table td" ng-bind="m.DSettlementTypeName"></td>
                        <td class="lay-table td"></td>
                        <td class="lay-table td"></td>
                    </tr>
                    <tr>
                        <td class="lay-table td">负责人：</td>
                        <td class="lay-table td" ng-bind="m.DLinkMan"></td>
                        <td class="lay-table td">上线渠道：</td>
                        <td class="lay-table td" ng-bind="m.DLineChannel"></td>
                        <td class="lay-table td">结算价：</td>
                        <td class="lay-table td" ng-bind="m.DSettlementName"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="lay-form-item lay-col-16">
            <div class="lay-form-item-control lay-col-6 " style="padding-right:15px;">
                <h3 class="cont-title">未匹配资源</h3>
                <table class="lay-table">
                    <tr>
                        <td class="lay-table td" style="width:50%">省份：</td>
                        <td class="lay-table td">
                            <select class="lay-select select-area" placeholder="请选择省份" ng-model="Search.PrivoceId" ng-init="Search.PrivoceId=0" ng-options="item.Id as item. Name for item in ProvList" ng-change="getArea(1)">
                                <option value="" selected hidden>
                            </select>
                        </td>
                        <td class="lay-table td" style="width:50%">城市：</td>
                        <td class="lay-table td">
                            <select class="lay-select select-area" placeholder="请选择城市" ng-model="Search.CityId" ng-init="Search.CityId=0" ng-options="item.Id as item. Name for item in CityList">
                                <option value="" selected hidden>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="lay-table td" style="width:50%">资源id：</td>
                        <td class="lay-table td">
                            <input class="lay-input" ng-model="Search.HotelId" placeholder="多个以英文,隔开" />
                        </td>
                        <td class="lay-table td" style="width:50%">酒店来源：</td>
                        <td class="lay-table td">
                            <select class="lay-select  lay-input" ng-model="Search.SupplierId" ng-init="Search.SupplierId=0" ng-options="item.Code as item. Name for item in config.Supplier">
                                <option value="" selected hidden>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="lay-table td"></td>
                        <td class="lay-table td"></td>
                        <td class="lay-table td"></td>
                        <td class="lay-table td">
                            <input type="button" class="lay-btn lay-btn-primary" style="padding: 5px;" value="筛选" ng-click="search(1)">
                            <input type="button" class="lay-btn lay-btn-primary" style="padding: 5px;" value="匹配" ng-click="giveResource()">
                            <input type="button" class="lay-btn lay-btn-primary" style="padding: 5px;" value="导出" ng-click="OperaType(2,0)">
                        </td>
                    </tr>
                </table>
                <div>
                    <table class="lay-table" id="nogive">
                        <thead>
                            <tr>
                                <th width="15%">
                                    <input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()">全选</th>
                                <th width="15%">省份</th>
                                <th width="15%">城市</th>
                                <th width="10%">酒店ID</th>
                                <th width="10%">酒店名</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in list">
                                <td>
                                    <input type="checkbox" ng-model="d.checked" ng-change="selectOne()">
                                </td>
                                <td ng-bind="d.HIProvince"></td>
                                <td ng-bind="d.HICity"></td>
                                <td ng-bind="d.Id"></td>
                                <td ng-bind="d.HIName"></td>
                                <td ng-bind="d.HIName" style="display:none"></td>
                                @*<td ng-bind="d.HIGdLonLat"></td>*@
                            </tr>
                            <tr ng-hide="list!=null &&list.length > 0">
                                <td colspan="5" class="lay-table-empty">暂无数据显示</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pager"></div>
            </div>
            <div class="lay-form-item-control lay-col-6 " style="padding-right:15px;">
                <h3 class="cont-title">已匹配资源</h3>
                <table class="lay-table">
                    <tr>
                        <td class="lay-table td" style="width:50%">省份：</td>
                        <td class="lay-table td">
                            <select class="lay-select select-area" placeholder="请选择省份" ng-model="Search2.GivePrivoceId" ng-init="Search2.GivePrivoceId=0" ng-options="item.Id as item. Name for item in ProvList2" ng-change="getArea2(1)">
                                <option value="" selected hidden>
                            </select>
                        </td>
                        <td class="lay-table td" style="width:50%">城市：</td>
                        <td class="lay-table td">
                            <select class="lay-select select-area" placeholder="请选择城市" ng-model="Search2.GiveCityId" ng-init="Search2.GiveCityId=0" ng-options="item.Id as item. Name for item in CityList2">
                                <option value="" selected hidden>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="lay-table td" style="width:50%">资源id：</td>
                        <td class="lay-table td">
                            <input class="lay-input" ng-model="Search2.GiveHotelId" placeholder="多个以英文,隔开" />
                        </td>
                        <td class="lay-table td" style="width:50%">酒店来源：</td>
                        <td class="lay-table td">
                            <select class="lay-select  lay-input" ng-model="Search2.GiveSupplierId" ng-init="Search2.GiveSupplierId=0" ng-options="item.Code as item. Name for item in config.Supplier2">
                                <option value="" selected hidden>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="lay-table td"></td>
                        <td class="lay-table td"></td>
                        <td class="lay-table td"></td>
                        <td class="lay-table td">
                            <input type="button" class="lay-btn lay-btn-primary" style="padding: 5px;" value="筛选" ng-click="search2(1)">
                            <input type="button" class="lay-btn lay-btn-primary" style="padding: 5px;" value="解除匹配" ng-click="outgive()">
                            <input type="button" class="lay-btn lay-btn-primary" style="padding: 5px;" value="导出" ng-click="OperaType(2,0)">
                        </td>
                    </tr>
                </table>
                <div>
                    <table class="lay-table" id="isgive">
                        <thead>
                            <tr>
                                <th width="15%">
                                    <input id="flag2" type="checkbox" ng-model="select_all2" ng-change="selectAll2()">全选
                                </th>
                                <th width="15%">省份</th>
                                <th width="15%">城市</th>
                                <th width="10%">酒店ID</th>
                                <th width="10%">酒店名</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in list2">
                                <td>
                                    <input type="checkbox" ng-model="d.checked" ng-change="selectOne2()">
                                </td>
                                <td ng-bind="d.HIProvince"></td>
                                <td ng-bind="d.HICity"></td>
                                <td ng-bind="d.Id"></td>
                                <td ng-bind="d.HIName"></td>
                            </tr>
                            <tr ng-hide="list2!=null &&list2.length > 0">
                                <td colspan="5" class="lay-table-empty">暂无数据显示</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pager2"></div>
            </div>
        </div>
    </div>
</div>
<input id="hdid" type="hidden" value="@ViewBag.DId" />
@section foot{
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.config = {
                resourceUrl: "/hotel/getresourcelist/",
                resourceUrl2: "/hotel/getgiveresourcelist/",
                detailUrl: "/distributor/getdetial/",
                areaUrl: "/system/GetAreaList/?pid=",
                supplierUrl: "/supplier/getsupplier/",
                giveUrl: "/distributor/bathgive/",
                outgiveUrl: "/distributor/outgive/",
                Supplier: [{ Code: -1, Name: "请选择" }],
                Supplier2: [{ Code: -1, Name: "请选择" }],
                SourceOne: [{ Type: 1, Name: "OTA" }, { Type: 2, Name: "新媒体" }, { Type: 3, Name: "旅行社" }, { Type: 4, Name: "线下" }],
                SourceTwo: []
            };
            $scope.Id = $('#hdid').val();
            $(function () {
                $scope.pageInit();
            });

            //初始化
            $scope.pageInit = function () {
                $scope.getArea(0);
                $scope.getArea2(0);
                $scope.getDetail($scope.id);
                $scope.getSupplier();
                $scope.search(1);
                $scope.search2(1);
            }

            //全选
            $scope.m = [];
            $scope.checked = [];
            $scope.selectAll = function () {
                if ($scope.select_all) {
                    $scope.checked = [];
                    angular.forEach($scope.list, function (i) {
                        i.checked = true;
                        $scope.checked.push(i.Id, i.HIOutType);
                    })
                } else {
                    angular.forEach($scope.list, function (i) {
                        i.checked = false;
                        $scope.checked = [];
                    })
                }
                console.log($scope.checked);
                console.log($scope.selectgive);
            };
            $scope.selectOne = function () {
                angular.forEach($scope.list, function (i) {
                    var index = $scope.checked.indexOf(i.Id);
                    if (i.checked && index === -1) {
                        $scope.checked.push(i.Id);
                    } else if (!i.checked && index !== -1) {
                        $scope.checked.splice(index, 1);
                    };
                })

                if ($scope.list.length === $scope.checked.length) {
                    $scope.select_all = true;
                } else {
                    $scope.select_all = false;
                }
                console.log($scope.checked);
            }

            //全选
            $scope.m2 = [];
            $scope.checked2 = [];
            $scope.selectAll2 = function () {
                if ($scope.select_all2) {
                    $scope.checked2 = [];
                    angular.forEach($scope.list2, function (i) {
                        i.checked = true;
                        $scope.checked.push(i.Id);
                    })
                } else {
                    angular.forEach($scope.list2, function (i) {
                        i.checked = false;
                        $scope.checked2 = [];
                    })
                }
                console.log($scope.checked2);
            };
            $scope.selectOne2 = function () {
                angular.forEach($scope.list2, function (i) {
                    var index = $scope.checked2.indexOf(i.Id);
                    if (i.checked && index === -1) {
                        $scope.checked2.push(i.Id);
                    } else if (!i.checked && index !== -1) {
                        $scope.checked2.splice(index, 1);
                    };
                })

                if ($scope.list2.length === $scope.checked2.length) {
                    $scope.select_all2 = true;
                } else {
                    $scope.select_all2 = false;
                }
                console.log($scope.checked2);
            }

            //获取供应商
            $scope.getSupplier = function () {
                var url = $scope.config.supplierUrl;
                Untitl.Get(url, { "IsValid": 1 }, function (data) {
                    $scope.config.Supplier = data;
                    $scope.config.Supplier2 = data;
                    $scope.$apply();
                }, function () {
                    console.log("err-getSupplier");
                })
            }

            //获取省市查询--未匹配
            $scope.getArea = function (type) {
                var pId = type == 0 ? 1 : $scope.Search.PrivoceId;
                if (!pId || pId <= 0) return;
                var url = $scope.config.areaUrl + pId;
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (type == 0) {
                            $scope.ProvList = data;
                            $scope.ProvList.unshift({
                                Id: 0,
                                Name: "请选择省份"
                            });
                            $scope.CityList = [{
                                Id: 0,
                                Name: "请选择城市"
                            }];
                            $scope.Search.CityId = 0;
                        } else {
                            $scope.CityList = data;
                            $scope.CityList.unshift({
                                Id: 0,
                                Name: "请选择城市"
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getSource");
                    },
                    complete: function () { }
                });
            }

            //获取省市查询--已匹配
            $scope.getArea2 = function (type) {
                var pId = type == 0 ? 1 : $scope.Search2.GivePrivoceId;
                if (!pId || pId <= 0) return;
                var url = $scope.config.areaUrl + pId;
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (type == 0) {
                            $scope.ProvList2 = data;
                            $scope.ProvList2.unshift({
                                Id: 0,
                                Name: "请选择省份"
                            });
                            $scope.CityList2 = [{
                                Id: 0,
                                Name: "请选择城市"
                            }];
                            $scope.Search2.CityId2 = 0;
                        } else {
                            $scope.CityList2 = data;
                            $scope.CityList2.unshift({
                                Id: 0,
                                Name: "请选择城市"
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getSource");
                    },
                    complete: function () { }
                });
            }


            //详情
            $scope.getDetail = function () {
                $.ajax({
                    url: $scope.config.detailUrl + "?id=" + $scope.Id,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (data != null && data.Id > 0) {
                            $scope.m = data;
                            if ($scope.m && $scope.m.DProviceId > 0) {
                                $scope.getArea(1);
                            }
                        }
                        else {
                            eMsg({
                                timer: 2000,
                                text: '查询失败，请稍后重试！'
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getDetail");
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }

            //分页
            $scope.pagerInit = function (index, total) {
                var pager = new PagerView('pager');
                pager.index = index;
                pager.size = 10;
                pager.itemCount = total;
                pager.onclick = function (index) {
                    $scope.search(index);
                    $("#flag").attr("checked", "false");
                };
                pager.render();
            }

            //分页
            $scope.pagerInit2 = function (index, total) {
                var pager = new PagerView('pager2');
                pager.index = index;
                pager.size = 10;
                pager.itemCount = total;
                pager.onclick = function (index) {
                    $scope.search2(index);
                    $("#flag2").attr("checked", "false");
                };
                pager.render();
            }

            //资源匹配
            $scope.giveResource = function ()
            {
                var giveids = $scope.checked;
                if (giveids == null)
                {
                    return;
                }
                var url = $scope.config.giveUrl;
                Untitl.Get(url, { "resourceids": JSON.stringify($scope.checked), "distributorid": $scope.Id }, function (data) {
                    $scope.config.Supplier = data;
                    $scope.config.Supplier2 = data;
                    $scope.search(1);
                    $scope.search2(1);
                    $scope.$apply();
                }, function () {
                    console.log("err-getSupplier");
                })
            }

            //解除资源匹配
            $scope.outgive = function () {
                var giveids = $scope.checked;
                if (giveids == null) {
                    return;
                }
                var url = $scope.config.outgiveUrl;
                Untitl.Get(url, { "resourceids": JSON.stringify($scope.checked2), "distributorid": $scope.Id }, function (data) {
                    $scope.config.Supplier = data;
                    $scope.config.Supplier2 = data;
                    $scope.search(1);
                    $scope.search2(1);
                    $scope.$apply();
                }, function () {
                    console.log("err-getSupplier");
                })
            }

            //查询--未匹配
            $scope.search = function (index) {
                debugger;
                $scope.Search.PageIndex = index;
                var para = $scope.Search;
                eLoading.show();
                $.ajax({
                    url: $scope.config.resourceUrl,
                    type: 'post',
                    dataType: "json",
                    data: para,
                    timeout: 20000,
                    success: function (data) {
                        $scope.list = [];
                        if (data != null && data.IsSuccess > 0) {
                            $scope.list = data.List;
                            $scope.alllist = data.AllList;
                            $scope.pagerInit(index, data.Total);
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err");
                        eMsg({
                            timer: 2000,
                            text: '查询失败，请稍后重试！'
                        });
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }

            //查询--已匹配
            $scope.search2 = function (index) {
                $scope.Search2.GivePageIndex = index;
                $scope.Search2.GiveDistributorId = $scope.Id;
                var para = $scope.Search2;
                eLoading.show();
                $.ajax({
                    url: $scope.config.resourceUrl2,
                    type: 'post',
                    dataType: "json",
                    data: para,
                    timeout: 20000,
                    success: function (data) {
                        $scope.list2 = [];
                        if (data != null && data.IsSuccess > 0) {
                            $scope.list2 = data.List;
                            $scope.alllist = data.AllList;
                            $scope.pagerInit2(index, data.Total);
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err");
                        eMsg({
                            timer: 2000,
                            text: '查询失败，请稍后重试！'
                        });
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }
        });
    </script>
}
