@section head{
    <style>
        .tip {
            padding: 2px;
        }
    </style>
}
<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <div class="lay-row">
        <div class="lay-form-item lay-col-16">
            <div class="lay-form-item-control lay-col-16 " style="padding-right:15px;">
                <h3 class="cont-title">批量调价</h3>
                <table class="lay-table">
                    <tr>
                        <td class="lay-table td">分销商id:</td>
                        <td class="lay-table td" ng-bind="m.Id"></td>
                        <td class="lay-table td">分销商名称：</td>
                        <td class="lay-table td" ng-bind="m.DName"></td>
                    </tr>
                    <tr>
                        <td class="lay-table td">负责人：</td>
                        <td class="lay-table td" ng-bind="m.DLinkMan"></td>
                        <td class="lay-table td">结算价：</td>
                        <td class="lay-table td" ng-bind="m.DSettlementName"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="lay-form-item">
            <div class="lay-form-item-control lay-col-6 " style="padding-right:15px;">
                <h3 class="cont-title">供应商列表</h3>
                <div>
                    <table class="lay-table" id="nogive">
                        <thead>
                            <tr>
                                <th width="15%">
                                    <input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()">全选
                                </th>
                                <th width="15%">供应商id</th>
                                <th width="15%">供应商</th>
                                <th width="10%">加价模式</th>
                                <th width="10%">加价比例/金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in list">
                                <td>
                                    <input type="checkbox" ng-model="d.checked" ng-change="selectOne()">
                                </td>
                                <td ng-bind="d.HIProvince"></td>
                                <td ng-bind="d.HICity"></td>
                                <td ng-bind="d.Id"></td>
                                <td ng-bind="d.HIName"></td>
                            </tr>
                            <tr ng-hide="list!=null &&list.length > 0">
                                <td colspan="5" class="lay-table-empty">暂无数据显示</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>
<input id="hdid" type="hidden" value="@ViewBag.DId" />
@section foot{
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.config = {
                detailUrl: "/distributor/getdetial/",
                supplierUrl: "/distributor/getsupplier/"
            };
            $scope.Id = $('#hdid').val();
            $(function () {
                $scope.pageInit();
            });

            //初始化
            $scope.pageInit = function () {
                $scope.getDetail($scope.id);
            }

            //供应商详情
            $scope.getSupplierDetail = function () {
                $.ajax({
                    url: $scope.config.supplierUrl + "?id=" + $scope.Id,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (data != null && data.Id > 0) {
                            $scope.m = data;
                            if ($scope.m && $scope.m.DProviceId > 0) {
                                $scope.getArea(1);
                            }
                        }
                        else {
                            eMsg({
                                timer: 2000,
                                text: '查询失败，请稍后重试！'
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getDetail");
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }

            //详情
            $scope.getDetail = function () {
                $.ajax({
                    url: $scope.config.detailUrl + "?id=" + $scope.Id,
                    type: 'get',
                    dataType: "json",
                    timeout: 20000,
                    success: function (data) {
                        if (data != null && data.Id > 0) {
                            $scope.m = data;
                            if ($scope.m && $scope.m.DProviceId > 0) {
                                $scope.getArea(1);
                            }
                        }
                        else {
                            eMsg({
                                timer: 2000,
                                text: '查询失败，请稍后重试！'
                            });
                        }
                        $scope.$apply();
                    },
                    error: function () {
                        console.log("err-getDetail");
                    },
                    complete: function () {
                        eLoading.hide();
                    }
                });
            }
        });
    </script>
}
